$color-primary-dark: #0f0a1e;
$color-white-text: #eee;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: $color-white-text;
  background: $color-primary-dark;

}

/* LAYOUT */
header,
main {
  min-width: 1200px;
}

header {
  position: relative;
  height: 35vh;
  min-height: 300px;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  min-height: 400px;
  color: $color-white-text;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

.btn__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ELEMENT STYLES */

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

p {
  font-size: 1.5rem;
  line-height: 140%;
  margin-bottom: 2rem;
  max-width: 80rem;
}

.secret-number {
  background: $color-white-text;
  color: $color-primary-dark;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.instructions {
  font-size: 1.4rem;
  padding: 2rem;
}

.guess-input {
  background: none;
  border: 4px solid #ffb240;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 10px;
  background-color: #eee;
  color: #6d6d6d;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  text-shadow: -1px -1px black, 1px 1px white;
  box-shadow: 0 10px gray;
  &:hover {
    background-color: #ddd;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 8px gray;
  }

  &__restart {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #f66562;
    color: #7a342e;
    box-shadow: 0 10px #c0514a;
    &:hover {
      background-color: #ee625f;
    }
    &:active {
      box-shadow: 0 8px #c0514a;
    }
  }

  &__show-modal {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #66cdec;
    color: #328099;
    box-shadow: 0 10px #3e9fbe;
    &:hover {
      background-color: #62c4e2;
    }
    &:active {
      box-shadow: 0 8px #3e9fbe;
    }
  }

  &__close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background: none;
    padding: 10px 5px 5px 10px;
  }

  &__modal-start {
    background-color: #8dc537;
    color: #5c7a31;
    box-shadow: 0 10px #70953b;
    &:hover {
      background-color: #86bc35;
    }
    &:active {
      box-shadow: 0 8px #70953b;
    }
  }
}

/* Modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 7rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
